[Desktop Entry]
Version=1.0
Name=Wayland twm
Comment=Classic twm behavior on a Wayland compositor
TryExec=wtwm-session
Exec=wtwm-session
Type=Application
DesktopNames=wtwm
